secrets.py
__pycache__/secrets.cpython-310.pyc
__pycache__/secrets.cpython-38.pyc
users.db
__pycache__/db.cpython-38.pyc
__pycache__/db.cpython-310.pyc
.vscode/settings.json
__pycache__/misc_funcs.cpython-310.pyc
__pycache__/rztk_checker.cpython-310.pyc
__pycache__/web_checker.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/menu.cpython-310.pyc
__pycache__/bot.cpython-310.pyc
