__pycache__/.
.vscode/.
settings.json
__pycache__/bot.cpython-310.pyc
__pycache__/menu.cpython-310.pyc
__pycache__/misc_funcs.cpython-310.pyc
__pycache__/rztk_checker.cpython-310.pyc
__pycache__/text_templates.cpython-310.pyc
__pycache__/web_checker.cpython-310.pyc
